#about h1 {
	padding-bottom: 40px;
    margin: 0 auto;
}

iframe {
    margin: 0 auto;
    width: 100%;
    max-width: 560px;
}

#about p {
	font-size: 18px;
    margin: 0 auto;
}

.iframe-container {
    text-align: center;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

	#about h1 {
		width: 100%;
		font-size: 60px;
		padding-bottom: 30px;
	}

	#about p {
		font-size: 22px;
		line-height: 30px;
		width: 100%;
		margin: 0 auto;
	}

}