.footer-link, .footer-link:link, .footer-link:visited {
	color: #555;
	opacity: 1;
/*	text-transform: uppercase;
*/}

.footer-link:hover {
	color: #26a69a;
	cursor: pointer;
	-webkit-transition: color .2s linear;
        -moz-transition: color .2s linear;
        transition: color .2s linear;
}

footer .links .footer-link {
	padding: 0 15px;
	font-size: 18px;
}

footer .links {
	margin-top: 5px;
}

.jenny-link:hover {
	text-decoration: underline;
}

.social-icon {
	font-size: 40px;
	padding: 0px 10px;
}

footer.page-footer {
  margin-top: 0;
  padding-top: 30px;
 }

.footer-main-container {
 	margin-top: 25px;
 	margin-left: 9%;
 	padding-bottom: 30px;
 }

footer h5 {
	font-size: 24px;
}