.circle {
	width: 120px;
	height: 120px;
	margin: 15px;
}

#industries h1 {
	padding-bottom: 5px;
	text-align: left;
}

#industries .flow-text {
	text-align: left;
	margin-bottom: 20px;
}

#industries .divider {
}

.industries-header {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 50px;
}

#industries .container {
	margin-top: 20px;
}

/*#industries .second-row div {
	padding-top: 10px;
	position: relative;
	left: 17%;

}*/

/*.industries-item p {
	padding: 10px;
	font-size: 16px;
}*/

.industries-item h3 {
	text-transform: uppercase;
	font-size: 16px;
}

.industries-row {
	padding-left: 15%;
}

.industries-item h3 {
	text-transform: uppercase;
}


@media (max-width: 600px){

	/*#industries .second-row div {
		position: relative;
		left: 0%;
	}*/

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

	#industries .second-row div {
		padding-top: 10px;
		position: relative;
		left: 0%;
	}

	.industries-item {
		padding-bottom: 15px;
		margin: 0 auto;
		width: 100%;
	}

	.industries-item h3 {
		font-size: 26px;
		width: 100%;
	}

	.industries-item p {
		font-size: 20px;
		width: 100%;
	}
}