.circle {
	width: 200px;
	height: 200px;
	margin: 15px;
}

#industries h1 {
	padding-bottom: 50px;
}

#industries .container {
	margin-top: 20px;
}

#industries .second-row div {
	padding-top: 10px;
	position: relative;
	left: 17%;

}

.industries-item p {
	padding: 10px;
	font-size: 16px;
}

.industries-item h3 {
	text-transform: uppercase;
}


@media (max-width: 600px){

	#industries .second-row div {
		position: relative;
		left: 0%;
	}

}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

	#industries .second-row div {
		padding-top: 10px;
		position: relative;
		left: 0%;
	}

	.industries-item {
		padding-bottom: 15px;
		margin: 0 auto;
		width: 100%;
	}

	.industries-item h3 {
		font-size: 26px;
		width: 100%;
	}

	.industries-item p {
		font-size: 20px;
		width: 100%;
	}
}