.circle, .badge {
	width: 200px;
	height: 200px;
	margin: 15px;
}

#industries h1 {
	padding-bottom: 30px;
}

#industries .second-row {
	position: relative;
	left: 17%;

}

@media (max-width: 600px){

	#industries .second-row {
		position: relative;
		left: 0%;
	}

}