body {
	background-color: transparent;
}

.scroll-down-btn {
	margin-top: 20px;
}

/*#intro {
	text-align: center;
	background: url('/images/banner_dark.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 700px;
	position: relative;

}*/

#title {
	width: 340px;
	height: auto;
	margin-top: 260px;
	margin-bottom: 30px;
}

.intro-text {
	position: relative;
	top: 130px;
}

#about, #products, #industries, #subscribe, #pilots {
	padding: 50px 0;
}

.scroll-down-btn, .scroll-down-btn:link, .scroll-down-btn:visited {
	font-size: 70px;
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}

.scroll-down-btn:hover, .scroll-down-btn i:hover {
	opacity: 1.0;
	cursor: pointer;
}


@media (min-width: 1100px) {

	#title{
		width: 390px;
		height: auto;
	}

}

/* Materialize */

.parallax img {
	width: 100vw;
	height: auto;
}

.parallax-container{
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#intro-parallax {
	min-height: 900px;
}

  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
/*    top: 10%;
*/  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}
