body {
	font-family: Roboto;
	font-weight: bold;
	background-color: transparent;
}

.main-content {
	position: absolute;
	top: 0;
}

.ontop {
	position: relative;
	z-index: 3;
}

.scroll-down-btn {
	margin-top: 20px;
}

/*#intro {
	text-align: center;
	background: url('/images/banner_dark.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 900px;
	position: relative;

}*/

#intro-overlay { 
  background: rgba(0,24,42,0.5);
  color: white;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 660px;
}

#intro-overlay .flow-text {
  font-size: 16px;
}

#title {
	width: 340px;
	height: auto;
}

.intro-text {
	position: relative;
	top: 150px;
	width: 50%;
	left: 15%;
}

.intro-text h1 {
	width: 70%;
}

.intro-text .flow-text {
	max-width: 645px;
}

.schedule-headerlink {
	font-family: Roboto;
	margin-top: 40px;
	font-weight: normal;
	font-size: 20px;
}

.schedule-headerlink:link, .schedule-headerlink:visited, .schedule-headerlink:hover {
	color: #fff;
}

#industries {
	min-height: 1300px;
}

#about {
	min-height: 600px;
}

/*#products {
	background: url('/images/sky.jpg') no-repeat center center;
	background-position: bottom
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 900px;
	height: 900px;
	max-height: 900px;
	position: relative;
}*/

.parallax-container {
  min-height: 780px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#news {
	margin-top: 660px;
	min-height: 400px;
}

/*#subscribe {
	color: #fff;
	text-align: center;
	background: url('/images/droneequipment.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	position: relative;
}*/

.scroll-down-btn, .scroll-down-btn:link, .scroll-down-btn:visited {
	font-size: 70px;
	color: #fff;
	opacity: 0.7;
	text-decoration: none;
}

.scroll-down-btn:hover, .scroll-down-btn i:hover {
	opacity: 1.0;
	cursor: pointer;
}

.top-nav-collapse .navbar-nav>.active>a {
	background-color: transparent;
}

@media (min-width: 900px) {

	#title{
		width: 390px;
		height: auto;
	}

}

/* iPhone 5 ~ iPhone 6 Plus */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

	.main-content {
		position: absolute;
		top: 60px;
	}

	#title {
		width: 80%;
		height: auto;
	}

	.intro-text {
		position: absolute;
		top: 140px;
		left: 1%;
	}


	.schedule-headerlink {
		margin-top: 20px;
	}

	#intro {
		text-align: center;
		background: url('/images/banner_mobile.jpg') no-repeat;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		min-height: 370px;
		position: relative;
	}

	#news {
		 min-height: 350px;
	}

	section {
		width: 100%;
		margin: 0;
	}

	.flow-text {
		line-height: 1.5em;
	}

}
