.news-logo {
	width: 200px;
}

.newslink {
	padding: 0 35px;
}

.news-logo:hover {
	opacity: 0.8;
	-webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
}

#owl .item{
  margin: 3px;
}
#owl .item img{
  display: block;
  width: 100%;
  height: auto;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {
	.news-logo {
		width: 90%;
		padding: 25px 0;
		margin: 0 auto;
	}

	.newslink {
		padding: 0;
	}
}