.product-img {
	width: 100%;
	height: auto;
}

#products h1 {
	padding-bottom: 50px;
}

#products-info {
	text-align: left;
	padding: 20px 40px 30px 40px;
	border-radius: 10px;
	width: 80%;
	margin: 0 auto;
	margin-top: 60px;
}

#products-info h2 {
	color: #009688;
	font-size: 30px;
	border-bottom: 1px solid #009688;
	padding-bottom: 15px;
}

#products-info p {
	margin: 25px 25px;
}

.flow-text {
	font-size: 22px;
}

.product-text {
	font-size: 18px;
	line-height: 70px;
}

.product-item p {
	display: none;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

	#products-info {
		display: none;
	}

	.product-item {
		width: 100%;
	}

	.product-item p {
		display: block;
		padding-bottom: 15px;
		font-size: 20px;
		width: 100%;
	}

	.product-item {
		padding-bottom: 15px;
	}


	.product-text {
		font-size: 26px;
		line-height: 30px;
		width: 100%;
		padding: 20px 0;
		margin: 20px 0;
	}

	.product-img {
		padding-bottom: 20px;
		padding-top: 20px;
	}

}
