.active {
    background-color: rgba(0, 0, 0, 0.1);
}

nav ul li.active {
  background-color: transparent;
}

#logo_text {
    height: 1.9em;
    position: relative;
    bottom: 16px;
    left: 8px;
}


nav {
    background-color: transparent;
    min-height: 50px;
}

nav ul a {
    text-transform: uppercase;
    font-size: 12px;
    font-family: OpenSans;
    font-weight: normal;
}

.navbar {
    min-height: 50px;
}

.navbar-fixed-top {
    box-shadow: none;
    padding-top: 10px;
}

.top-nav-collapse {
    /*box-shadow: 0 2px 5px #000;*/
    box-shadow: none;
    padding-top: 0px;
}

nav a:hover {
    cursor: pointer;
}

.navbar li {
    height: 50px;
}

.navbar li a {
    height: 50px;
    line-height: 20px;
}

.navlink-btn-text {
    position: relative;
    top: 6px;
}

.schedule-navlink {
    position: relative;
    bottom: 7px;
    font-size: 12px;
    line-height: 1em;
}


.schedule-navlink:link, .schedule-navlink:hover, .schedule-navlink:focus,
.estimatestat-navlink:link, .estimatestat-navlink:hover, .estimatestat-navlink:focus {
    background-color: transparent;
}

.schedule-navlink-text {
    color: #fff;
}

.schedule-navlink-text:hover {
    color: #fff;
}

.estimatestat-navlink, .estimatestat-navlink:link, .estimatestat-navlink:visited, .estimatestat-navlink:focus {
    color: #4db6ac;
}

.navbar-fixed-top .estimatestat-navlink:hover {
    color: #80cbc4;
}

.top-nav-collapse .estimatestat-navlink:hover {
    color: #009688;
}

span.btn.waves-effect.waves-light.navlink-btn-text.schedule-navlink-text {
    font-size: 12px;
    line-height: 1.9em;
}

 @media (max-width: 600px){
    #logo, #logo_text {
        padding-bottom: 5px;
    }
    .navbar-toggle {
        position: relative;
        bottom: 1px;
    }
 }

@media(min-width:900px) {

    .navbar-nav {
        float: right;
    }

    #logo, #logo_text {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .navbar-fixed-top #logo {
        height: 2.5em;
        position: relative;
        bottom: 5px;
    }

    .top-nav-collapse #logo {
        height: 1.5em;
        position: relative;
        bottom: 6px;

    }

    .navbar-fixed-top #logo_text {
        opacity: 0;
    }

    .top-nav-collapse #logo_text {
        opacity: 1.0; 
        margin-top: 8px;
    }

    .navbar {
        background-color: transparent;
        border: none;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
    }

    .navbar-fixed-top {
        height: 80px;
        color: rgba(255, 255, 255, 0.8);
        margin-top: -2px;
    }

    .navbar-fixed-top .navbar-brand {
      color: rgba(255, 255, 255, 0.8);
    }
    .navbar-fixed-top .navbar-brand:hover,
    .navbar-fixed-top .navbar-brand:focus {
      color: #fff;
      background-color: transparent;
    }
    .navbar-fixed-top .navbar-text {
      color: rgba(255, 255, 255, 0.8);
    }
    .navbar-fixed-top .navbar-nav > li > a {
      color: rgba(255, 255, 255, 0.8);
    }
    .navbar-fixed-top .navbar-nav > li > a:hover,
    .navbar-fixed-top .navbar-nav > li > a:focus {
      color: #fff;
      background-color: transparent;
    }
    .navbar-fixed-top .navbar-nav > .active > a,
    .navbar-fixed-top .navbar-nav > .active > a:hover,
    .navbar-fixed-top .navbar-nav > .active > a:focus {
      /*color: #555;
      background-color: #000;*/
    }
    .navbar-fixed-top .navbar-nav > .disabled > a,
    .navbar-fixed-top .navbar-nav > .disabled > a:hover,
    .navbar-fixed-top .navbar-nav > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
    .navbar-fixed-top .navbar-toggle {
      border-color: #ddd;
    }
    .navbar-fixed-top .navbar-toggle:hover,
    .navbar-fixed-top .navbar-toggle:focus {
      background-color: #ddd;
    }
    .navbar-fixed-top .navbar-toggle .icon-bar {
      background-color: #888;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-top .navbar-form {
      border-color: #000;
    }
    .navbar-fixed-top .navbar-nav > .open > a,
    .navbar-fixed-top .navbar-nav > .open > a:hover,
    .navbar-fixed-top .navbar-nav > .open > a:focus {
      color: #555;
      background-color: #000;
    }

    .navbar-toggle:hover, .navbar-toggle:focus {
        color: #777;
}

    .top-nav-collapse {
        height: 50px;
        background-color: #000;
        border: #000 solid 1px;
        color: #ADADAD;
        padding-top: 0;
    }

    .top-nav-collapse .navbar-brand {
        color: #ADADAD;
    }
    .top-nav-collapse .navbar-brand:hover,
    .top-nav-collapse .navbar-brand:focus {
      color: #777;
      background-color: transparent;
    }
    .top-nav-collapse .navbar-text {
      color: #ADADAD;
    }
    .top-nav-collapse .navbar-nav > li > a {
      color: #ADADAD;
    }
    .top-nav-collapse .navbar-nav > li > a:hover,
    .top-nav-collapse .navbar-nav > li > a:focus {
      color: #777;
      background-color: transparent;
    }
    .top-nav-collapse .navbar-nav > .active > a,
    .top-nav-collapse .navbar-nav > .active > a:hover,
    .top-nav-collapse .navbar-nav > .active > a:focus {
      color: #555;
      background-color: #000;
    }
    .top-nav-collapse .navbar-nav > .disabled > a,
    .top-nav-collapse .navbar-nav > .disabled > a:hover,
    .top-nav-collapse .navbar-nav > .disabled > a:focus {
      color: #ccc;
      background-color: transparent;
    }
    .top-nav-collapse .navbar-toggle {
      border-color: #ddd;
    }
    .top-nav-collapse .navbar-toggle:hover,
    .top-nav-collapse .navbar-toggle:focus {
      background-color: #ddd;
    }
    .top-nav-collapse .navbar-toggle .icon-bar {
      background-color: #888;
    }
    .top-nav-collapse .navbar-collapse,
    .top-nav-collapse .navbar-form {
      border-color: #000;
    }
    .top-nav-collapse .navbar-nav > .open > a,
    .top-nav-collapse .navbar-nav > .open > a:hover,
    .top-nav-collapse .navbar-nav > .open > a:focus {
      color: #555;
      background-color: #000;
    }

}

 .pricing-nav #logo {
    height: 2.1em;
    position: absolute;
    top: 0;
    left: 5%;
}

.pricing-nav #logo_text {
    opacity: 1.0;
    height: 2.5em;
    position: absolute;
    top: -5px;
    left: 65%;
}

@media (max-width: 899px) {

    .navbar-nav {
        clear: both;
    }

    .navbar-nav li {
        padding-left: 20px;
    }

    #logo {
        height: 2.1em;
        position: absolute;
        top: 0;
        left: 5%;
    }

    #logo_text {
        opacity: 1.0;
        height: 2.5em;
        position: absolute;
        top: -5px;
        left: 130%;
    }

    .navbar-toggle {
        margin-top: 15px;
    }

  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #000;
  }
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-fixed-top .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-fixed-top .navbar-link {
  color: #777;
}
.navbar-fixed-top .navbar-link:hover {
  color: #333;
}
.navbar-fixed-top .btn-link {
  color: #777;
}
.navbar-fixed-top .btn-link:hover,
.navbar-fixed-top .btn-link:focus {
  color: #333;
}
.navbar-fixed-top .btn-link[disabled]:hover,
fieldset[disabled] .navbar-fixed-top .btn-link:hover,
.navbar-fixed-top .btn-link[disabled]:focus,
fieldset[disabled] .navbar-fixed-top .btn-link:focus {
  color: #ccc;
}
  
/* Sections - You can use these as guides or delete them - the scroller will work with any sort of height, fixed, undefined, or percentage based.
The padding is very important to make sure the scrollspy picks up the right area when scrolled to. Adjust the margin and padding of sections and children 
of those sections to manage the look and feel of the site. */

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    /*background: #40beb1;*/
}

.products-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.industries-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
   /* background: #40beb1;*/
}

.news-section {
    height: 50%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
    padding-bottom: 150px;
}

.subscribe-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    /*background: #40beb1;*/
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 736px) {

  .news-section, .about-section, .industries-section, .products-section, .subscribe-section {
      padding-top: 120px;
      padding-bottom: 120px;
  }

  nav .container {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;

  }

  .navbar-header {
    margin-top: -20px;
    width: 100%;
  }

  nav ul {
    width: 100%;
    margin: 0 auto;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-width: 0;

  }

  #logo, #logo_text, .navbar-brand {
    margin-top: 10px;
    margin-left: 5px;
  }

  .navbar-toggle {
        position: relative;;
        top: 19px;
        left: 8px;
    }

}