<template name="About">
  <section id="about" class="about-section teal lighten-2 scrollspy white-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Let Our Drones Do the Work</h1>
                    <p class="flow-text">With the press of a button, our drones inspect roofs and record measurements accurate down to 1.5cm in less than 10 minutes. Whether you need to look at the roof for solar, insurance, or roofing purposes, HoverStat is your one-stop solution for roof assessments.</p>
                </div>
            </div>
        </div>
    </section>
</template>