<template name="Footer">
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We can put the company bio here. Or maybe something else that you want people to know about your company. Might also be a good place to credit sponsors or cite your resources.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>

          <p>
            <a class="footer-link" href="https://www.facebook.com/hoverstat">
              <i class="social-icon fa fa-facebook-square"></i>
            </a>
            <a class="footer-link" href="https://twitter.com/HoverStat">
              <i class="social-icon fa fa-twitter-square"></i>
            </a>
            <a class="footer-link" href="https://www.linkedin.com/company/hoverstat">
              <i class="social-icon fa fa-linkedin-square"></i>
            </a>
            <a class="footer-link" href="https://www.youtube.com/channel/UCNk6ZaDKBS-OoU8qO0oNDvw">
              <i class="social-icon fa fa-youtube-square"></i>
            </a>
          </p>
          
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text" href="#!">Careers</a></li>
            <li><a class="white-text" href="#!">Pilots</a></li>
            <li><a class="white-text" href="#!">FAQ</a></li>
            <li><a class="white-text" href="#!">Support</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Website by <a class="brown-text text-lighten-3" href="http://yoonjaekim.meteor.com">Yoon Jae (Jenny) Kim</a>
      </div>
    </div>
  </footer>
</template>