<template name="Footer">
  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4 bio">HoverStat is revolutionizing the structural inspection industry. We aim to be the standard for any structural inspection by 2017.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>

          <p>
            <a class="footer-link" href="https://www.facebook.com/hoverstat">
              <i class="social-icon fa fa-facebook-square"></i>
            </a>
            <a class="footer-link" href="https://twitter.com/HoverStat">
              <i class="social-icon fa fa-twitter-square"></i>
            </a>
            <a class="footer-link" href="https://www.linkedin.com/company/hoverstat">
              <i class="social-icon fa fa-linkedin-square"></i>
            </a>
            <a class="footer-link" href="https://www.youtube.com/channel/UCNk6ZaDKBS-OoU8qO0oNDvw">
              <i class="social-icon fa fa-youtube-square"></i>
            </a>
          </p>
          
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="white-text footer-link" href="http://www.indeed.com/cmp/HoverStat-Technologies,-Inc./jobs/Aerial-CAD-Engineer-8a1c39140969c3f1">Careers</a></li>
            <li><a class="white-text footer-link" href="https://hoverstat.wufoo.com/forms/pilots/">Pilots</a></li>
            <li><a class="white-text footer-link" href="https://medium.com/@hoverstat">Blog</a></li>
<!--             <li><a class="white-text" href="#!">FAQ</a></li>
 --><!--             <li><a class="white-text" href="#!">Support</a></li>
 -->          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      <span class="left">Website by <a class="brown-text text-lighten-3 jenny-link" href="http://www.yoonjaekim.com">Yoon Jae (Jenny) Kim</a></span>
      <span class="right">&copy; HoverStat Technologies, Inc.</span>
      </div>
    </div>
  </footer>
</template>