<template name="Industries">
   <section id="industries" class="industries-section grey lighten-3 scrollspy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Our Industries</h1>
                    <div class="row industries-row first-row">
                        <div class="col s12 m4 l4 industries-item">
                            <img src="/images/industries/utilities.png" class="responsive-img circle"><br>
                            <h3>Utilities</h3>
                            <p class="flow-text">We serve the utility industry by providing safe, accurate, and efficient drone-automated roof inspections.</p>
                        </div>
                        <div class="col s12 m4 l4 industries-item">
                            <img src="/images/industries/insurance.png" class="responsive-img circle"><br>
                            <h3>Insurance</h3>
                            <p class="flow-text">We serve the insurance industry by providing drone-automated inspections.</p>
                        </div>
                        <div class="col s12 m4 l4 industries-item">
                            <img src="/images/industries/solar.png" class="responsive-img circle"><br>
                            <h3>Solar</h3>
                            <p class="flow-text">We optimize solar benefits for your customers using HoverStat's smart drone measurements.</p>
                        </div>
                    </div>
                    <div class="row industries-row second-row">
                        <div class="col s12 m4 l4 industries-item">
                            <img src="/images/industries/roof.png" class="responsive-img circle"><br>
                            <h3>Roofing</h3>
                            <p class="flow-text">Keep your feet on the ground while our drones take measurements and inspect the roof for you.</p>
                        </div>
                        <div class="col s12 m4 l4 industries-item">
                            <img src="/images/industries/construction.png" class="responsive-img circle"><br>
                            <h3>Construction</h3>
                            <p class="flow-text">We serve the construction industry by providing drone-automated site inspections and monitoring.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
