<template name="Layout">
  <head>
    <title>HoverStat</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Abril+Fatface' rel='stylesheet' type='text/css'>

    <meta property="og:title" content="HoverStat">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://hoverstat.com/">
    <meta property="og:site_name" content="HoverStat">
    <meta property="og:description" content="With the press of a button, our drones inspect roofs and record measurements accurate down to 1.5cm in less than 10 minutes. Whether you need to look at the roof for solar, insurance, or roofing purposes, HoverStat is your one-stop solution for roof assessments.">
    <meta name="description" content="With the press of a button, our drones inspect roofs and record measurements accurate down to 1.5cm in less than 10 minutes. Whether you need to look at the roof for solar, insurance, or roofing purposes, HoverStat is your one-stop solution for roof assessments." />

    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive" />


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- all the other local CSS/LESS files are automatically referenced -->
  </head>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

    <div class="content-block">
      {{> yield "content"}}
    </div>

    
    <!-- Footer template -->
      <!-- {{> Footer}} -->
    <!-- //Footer template -->
  </body>

</template>
