<template name="Main">
  <input type="hidden" id="refreshed" value="no" />
	{{>Nav}}
	<div class="container-fluid wrapper main-content">
	  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    {{>FlightModal}}
	  {{> VideoIntro}}
    <div class="ontop">
      {{> News}}
	  {{> Products}}
      {{> Industries}}
	  {{> Subscribe}}
    </div>
	  {{> Footer}}
	</div>

<!-- ADD A "BACK TO TOP" BUTTON -->

</template>


<template name="Intro">

  <section id="intro" class="intro-section scrollspy">
        <div class="container nav-row-container">
            <div class="row">
                <div class="col-lg-12 intro-text">
          					<img id="title" class="animated fadeInUp" src="/images/logo_text2.png"><br>
                    <a href="#flight-modal" class="schedule-headerlink btn-large waves-effect waves-light modal-trigger">Schedule Demo</a><br>
                </div>
            </div>
        </div>
    </section>

</template>

<template name="VideoIntro">

  <video autoplay muted poster="/images/video-preview.png" id="bgvid" loop>
    <!-- WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
<!--     <source src="//demosthenes.info/assets/videos/polina.webm" type="video/webm">
 -->    <source src="/videos/bg.mp4" type="video/mp4">
  </video>

  <div id="intro-overlay">
    <div class="intro-text">
      <h1>Keep Your Feet on the Ground</h1>
      <p class="flow-text">With the press of a button, our drones inspect roofs and record measurements accurate down to 1.5cm in less than 10 minutes. Whether you need to look at the roof for solar, insurance, or roofing purposes, HoverStat is your one-stop solution for roof assessments.</p>
       <a href="#flight-modal" class="schedule-headerlink btn-large waves-effect waves-light modal-trigger">Schedule Demo</a><br>
      </div>
  </div>

</template>
