<template name="Main">
	{{>Nav}}
	<div class="container-fluid wrapper main-content">
	  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	  {{> Intro}}
      {{> News}}
	  {{> About}}
	  {{> Products}}
      {{> Industries}}
	  {{> Subscribe}}
	  {{> Footer}}
	</div>

<!-- ADD A "BACK TO TOP" BUTTON -->

</template>


<template name="Intro">

  <section id="intro" class="intro-section scrollspy">
        <div class="container nav-row-container">
            <div class="row">
                <div class="col-lg-12 intro-text">
					<img id="title" class="animated fadeInUp" src="/images/logo_text2.png"><br>
                    <a href="https://docs.google.com/forms/d/16WgYP_CmKbqGixj9eEC2ozUTujk1pSW6AgP4YRYuKkA/viewform" class="schedule-headerlink btn-large waves-effect waves-light">Schedule Flight</a><br>
                    <!-- <a class="page-scroll scroll-down-btn" href="#news"><i class="fa fa-chevron-circle-down"></i></a> -->
                </div>
            </div>
        </div>
    </section>

</template>
