<template name="Main">
	{{>Nav}}
	<div class="container-fluid wrapper main-content">
	  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
	  {{> Intro}}
	  {{> About}}
	  {{> Products}}
      {{> Industries}}
      {{> Pilots}}
	  {{> Subscribe}}
	  {{> Footer}}
	</div>

<!-- ADD A "BACK TO TOP" BUTTON -->

</template>


<template name="Intro">

  <section id="intro" class="intro-section">
        <div class="container nav-row-container">
            <div class="row">
                <div class="col-lg-12 intro-text">
					<img id="title" class="animated fadeInUp" src="/images/logo_text.png"><br>
                    <!-- PUT "Schedule Flight/Demo" HERE -->
                    <a class="page-scroll scroll-down-btn" href="#about"><i class="fa fa-chevron-circle-down"></i></a>
                </div>
            </div>
        </div>
    </section>

</template>
