<template name="News">
   <section id="news" class="news-section scrollspy">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    	<a href="https://www.inside.com/hoverstat" class="newslink">
                    		<img src="/images/news/inside-logo.png" class="news-logo">
                    	</a>
                        <a href="http://www.syracuse.com/business-news/index.ssf/2015/07/hoverstat_drone_test_site.html" class="newslink">
                            <img src="/images/news/syracuse-logo.png" class="news-logo">
                        </a>
                    	<a href="http://tech.co/hoverstat-drone-automated-roof-inspections-2015-05" class="newslink">
                    		<img src="/images/news/techco-logo.png" class="news-logo">
                    	</a>
                </div>
            </div>
        </div>
    </section>
</template>