<template name="Pricing">
	{{>PricingNav}}
	<div class="container-fluid wrapper main-content">
	  {{>PricingInfo}}
	  {{> Footer}}
	</div>
</template>

<template name="PricingInfo">
<section id="pricing-intro" class="pricing-intro-section grey lighten-3">
        <div class="container nav-row-container">
            <div class="row">
                <div class="col-lg-12 intro-text">
          			<h1 class="text-white pricing-header">Order Your Report</h1>
					<button class="btn-large stripe-btn waves-effect waves-light ">Pay Now</button>
                </div>
            </div>
        </div>
    </section>


</template>