<template name="Products">
   <section id="products" class="products-section white scrollspy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
      <h1>Our Products</h1>
        <div class="row">
        <div class="col s12 m3 l3">
          <img src="/images/products/CAD.jpg" class="product-img" id="CAD"><br>
          <span class="product-text">Aerial CADs Stat</span>
        </div>
        <div class="col s12 m3 l3">
          <img src="/images/products/CRM.jpg" class="product-img" id="CRM"><br>
          <span class="product-text">Integrated CRM Solution</span>
        </div>
        <div class="col s12 m3 l3">
          <img src="/images/products/estimator.jpg" class="product-img" id="estimatestat"><br>
           <span class="product-text">EstimateStat</span>
        </div>
        <div class="col s12 m3 l3">
          <img src="/images/products/ERP3.jpg" class="product-img" id="ERP"><br>
           <span class="product-text">ERP: From Lead to Order</span>
        </div>
      </div>
      <div class="row">
        <div id="products-info">
          <h2>HoverStat Solutions Custom-Tailored to Fit Your Needs</h2>
          <p class="flow-text">Our products do something that's really awesome. This is a placeholder because I don't know what to put here.<br><br><strong>Hover over the images to view descriptions.</strong></p>
        </div>
      </div>
      </div>
    </div>
  </div>
    </section>
</template>
