<template name="Products">
  <section id="products" class="products-section white-text scrollspy parallax-container">
    <div class="container products-container">
      <div class="row">
        <div class="col m6 s12 l6">
          <h1>Our Products</h1>
            <div class="divider"></div>
          <ul id="product-item-list">
            <li class="product-item wow fadeInRight">
              <img src="/images/logo_white.png" class="logo_bullet">
              <span class="product-text">Aerial CADs Stat</span><br>
              <p class="flow-text">HoverStat provides 3D Aerial CADs with measurements captured by a drone on-site in under 10 minutes.</p>
            </li>
            <li class="product-item wow fadeInRight">
              <img src="/images/logo_white.png" class="logo_bullet">
              <span class="product-text">Integrated CRM Solution</span><br>
              <p class="flow-text">An integrated solution that allows contractors to collect leads, inspect the roof, and produce an estimate, all within one mobile app.</p>
            </li>
            <li class="product-item wow fadeInRight">
              <img src="/images/logo_white.png" class="logo_bullet">
               <span class="product-text">EstimateStat</span><br>
              <p class="flow-text">The estimator contains a rules engine that allows you to produce an estimate with accurate calculations every time.
              </p>
            </li>
            <li class="product-item wow fadeInRight">
              <img src="/images/logo_white.png" class="logo_bullet">
               <span class="product-text">ERP: From Lead to Order</span><br>
               <p class="flow-text">This mobile solution works to bring your business full cycle, from the moment a canvasser knocks on the door to placing the purchase order.</p>
            </li>
          </ul>

        </div>
      </div>  
    </div>
    <div class="parallax"><img src="/images/sky.jpg"></div>
  </section>
</template>
