<template name="Products">
   <section id="products" class="products-section white scrollspy">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
      <h1>Our Products</h1>
        <div class="row">
        <div class="col s12 m3 l3 product-item">
          <img src="/images/products/CAD.jpg" class="product-img" id="CAD"><br>
          <span class="product-text">Aerial CADs Stat</span><br>
          <p class="flow-text">HoverStat provides 3D Aerial CADs with measurements captured by a drone on-site in under 10 minutes.</p>
        </div>
        <div class="col s12 m3 l3 product-item">
          <img src="/images/products/CRM.jpg" class="product-img" id="CRM"><br>
          <span class="product-text">Integrated CRM Solution</span><br>
          <p class="flow-text">An integrated solution that allows contractors to collect leads, inspect the roof, and produce an estimate, all within one moblie app.</p>
        </div>
        <div class="col s12 m3 l3 product-item">
          <img src="/images/products/estimator.jpg" class="product-img" id="estimatestat"><br>
           <span class="product-text">EstimateStat</span><br>
          <p class="flow-text">The estimator contains a rules engine that allows you to produce an estimate with accurate calculations every time.
          </p>
        </div>
        <div class="col s12 m3 l3 product-item">
          <img src="/images/products/ERP3.jpg" class="product-img" id="ERP"><br>
           <span class="product-text">ERP: From Lead to Order</span><br>
           <p class="flow-text">This mobile solution works to bring your business full cycle, from the moment a canvasser knocks on the door to placing the purchase order.</p>
        </div>
      </div>
      <div class="row">
        <div id="products-info">
          <h2>HoverStat Solutions Custom-Tailored to Fit Your Needs</h2>
          <p class="flow-text">Our products do something that's really awesome. This is a placeholder because I don't know what to put here.<br><br><strong>Hover over the images above to view descriptions.</strong></p>
        </div>
      </div>
      </div>
    </div>
  </div>
    </section>
</template>
