<template name="Subscribe">
  <section id="subscribe" class="subscribe-section scrollspy white-text">
    <div class="container">
     	<div class="row">
           <h1 class="white-text">Want in? Subscribe to our Newsletter!</h1>
		    <form class="col s12">
		      <div class="row">
		        <div class="input-field col s6">
		          <input id="email" type="email" class="validate">
		          <label for="email">Email</label>
		        </div>
		        <div class="btn valign-wrapper waves-effect waves-light"><span class="valign">Submit</span></div>	
		      </div>
		    </form>
        </div>
      </div>
    </section>
</template>