<template name="Subscribe">
<!--  	<section id="subscribe" class="subscribe-section">
 -->        <div id="subscribe" class="parallax-container valign-wrapper subscribe-section">
		    <div class="section no-pad-bot">
		      <div class="container">
		        <div class="row center">
		          <h5 class="header col s12 light">Want in? Join our email list.</h5>
		        </div>
		      </div>
		    </div>
		    <div class="parallax"><img src="/images/droneequipment.jpg" alt="Unsplashed background img 3"></div>
		 </div>
<!--     </section>
 --></template>